<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Залікова робота. Варіант 3
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Горобчук Марія КН-31
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Вітаю на сторінці застосунку для обрахування прибутку від продажу квитків! Є 5 категорій квитків, і їх ціни 20, 40, 100, 150, 300.</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Для розрахунку у відповідні поля введіть кількість проданих квитків. Кількість не може бути менше 0.</ion-title>
  </ion-toolbar>
</ion-header>
